{%extends 'Parent.html'%}

{%block title%}
Aboutus Page
{%endblock%}


{%block Header%}
Thank You
{%endblock%}

{%block content%}
<div class=" text-center text-muted d-flex justify-content-center">

    <h6 class=" w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odit
        reprehenderit voluptate
        quisquam, laborum temporeLorem ipsum dolor sit amet consectetur adipisicing elit. Sed odit
        reprehenderit voluptate
        quisquam, laborum tempore
        deleniti quibusdam perferendis sequi, voluptas ad cumque blanditiis eum similique repudiandae,
        saepe unde ipsa.
        Ducimus.</h6>

</div>
{%endblock%}