{%extends 'Parent.html'%}
{%load static%}

{%block title%} Home Page {%endblock%}

{%block Header %}
Welcome Home Page
{% endblock%}


{%block content%}

<div class=" text-center col d-flex justify-content-center text-muted">

    <h6 class=" w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odit
        reprehenderit voluptate
        quisquam, laborum temporeLorem ipsum dolor sit amet consectetur adipisicing elit. Sed odit
        reprehenderit voluptate
        quisquam, laborum tempore
        deleniti quibusdam perferendis sequi, voluptas ad cumque blanditiis eum similique repudiandae,
        saepe unde ipsa.
        Ducimus.</h6>
</div>

{%endblock%}