{% block nav %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{%url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'products' %}">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'categories' %}">Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'tracks' %}">Tracks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'aboutus' %}">About Us</a>
    </li>
</ul>
{% endblock nav %}