{%extends 'Parent.html'%}
{%load static%}


{%block title%}
Your Track
{%endblock%}

{%block Header %}
Your Track "{{trackdata.name}}"
{% endblock%}

{%block content%}
<div class=" text-center col d-flex justify-content-center">

    <table class="border " width="50%">
        <tr class="border fw-bold">
            <td class="border ">ID</td>
            <td class="border ">Name</td>
        </tr>

        <tr class="border text-muted">
            <td class="border ">{{trackdata.id}}</td>
            <td class="border ">{{trackdata.name}}</td>
        </tr>
    </table>

</div>

<div class=" text-center col d-flex justify-content-center mt-3">
    <a class="btn btn-small btn-primary" href="{%url 'tracks'%}">Back to tracks</a>
</div>
{%endblock%}