{%extends 'Parent.html'%}

{%block title%}
Update Product
{%endblock%}

{%block Header %}
Update Product
{% endblock%}

{%block content%}
<form method="post" class="form text-center justify-content-center mt-3 ">
    {%csrf_token%}

    <label>Name:</label>
    <input class="ms-3" type="text" name="cName" value="{{category.cName}}" required></br>

    <div class=" text-center col d-flex justify-content-center mt-3">
        <button class="btn btn-small btn-primary" type="submit">Update Category</button>

        <a class="btn btn-small btn-info ms-2" href="{%url 'categories'%}">Back to Category</a>
    </div>
</form>
{%endblock%}